MatanColloc.aux
DefinicionClases.sty
MatanColloc.fdb_latexmk
MatanColloc.fls
MatanColloc.loe
MatanColloc.log
MatanColloc.out
MatanColloc.synctex.gz
MatanColloc.toc
MatanColloc.upa
MatanColloc.upb
MatanColloc.pdf
.MatanColloc.fls.icloud  
MatanColloc\ 2.fls 